@model IEnumerable<EntityLayer.Concrete.Blog>
@{ string color = "";}
@{
    ViewBag.Title = "BlogByCategory";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <span>Kategori</span>
                <h3>@ViewBag.CategoryName</h3>
                <p>@ViewBag.CategoryDescription</p>
            </div>
        </div>
    </div>
</div>
<div class="site-section bg-white">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                switch (item.Category.CategoryName)
                {
                    case "Yazılım":
                        color = "post-category text-white bg-secondary mb-3";
                        break;
                    case "Teknoloji":
                        color = "post-category text-white bg-info mb-3";
                        break;
                    case "Web Geliştirme":
                        color = "post-category text-white bg-dark mb-3";
                        break;
                    case "Mobil Geliştirme":
                        color = "post-category text-white bg-warning mb-3";
                        break;
                    case "Yapay Zeka":
                        color = "post-category text-white bg-success mb-3";
                        break;
                    default:
                        // code block
                        break;
                }
                <div class="col-lg-4 mb-4">
                    <div class="entry2">
                        <a href="/Blog/BlogDetails/@item.BlogID"><img src="@item.BlogImage" style="height:220px;width:340px" alt="Image" class="img-fluid rounded"></a>
                        <div class="excerpt">
                            <span class="@color">@item.Category.CategoryName</span>
                            <h2><a href="/Blog/BlogDetails/@item.BlogID">@item.BlogTitle</a></h2>
                            <div class="post-meta align-items-center text-left clearfix">
                                <figure class="author-figure mb-0 mr-3 float-left"><img src="@item.Author.AuthorImage" alt="Image" class="img-fluid"></figure>
                                <span class="d-inline-block mt-1"><a href="#">@item.Author.AuthorName</a></span>
                                <span>&nbsp;-&nbsp; @(((DateTime)item.BlogDate).ToString("dd-MMM-yyyy"))</span>
                            </div>

                            <p>@item.BlogContent.Substring(0, item.BlogContent.Substring(0, 200).LastIndexOf(" "))...</p>
                            <p><a href="/Blog/BlogDetails/@item.BlogID">Devamını oku</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@Html.Action("Footer", "About")
